<h1>Editar Fornecedor</h1>

<% if(@supplier.errors.any?) %>
  <p>Preencha o formulário corretamente</p>
  <ul>
    <% @supplier.errors.full_messages.each do |s| %>
      <li><%= s %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>