<section id="suppliers">
  <h2>Fornecedores</h2>
  <% @suppliers.each do |s| %>
    <div>
      <h3><%= s.brand_name %></h3>
      <dl>
        <dt> Cidade:</dt>
        <dd><%= s.city %> - <%= s.state %> </dd>
      </dl>
    </div>
  <% end %>

  <% if @suppliers.empty? %>
    <p>Não existem fornecedores cadastrados</p>
  <% end %>
</section>