<section id="suppliers">
  <h2>Fornecedores</h2>
  <nav>
    <%= link_to 'Cadastrar Fornecedor', new_supplier_path %>
  </nav>  
  <% @suppliers.each do |s| %>
    <div>
      <h3><%= link_to s.brand_name, s %></h3>
      <dl>
        <dt> Cidade:</dt>
        <dd><%= s.city %> - <%= s.state %> </dd>
      </dl>
    </div>
  <% end %>

  <% if @suppliers.empty? %>
    <p>Não existem fornecedores cadastrados</p>
  <% end %>
</section>